.over-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.over-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.over-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


.common-btn {
	width: 653rpx;
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	background: #A80404;
	border-radius: 10rpx;
	font-size: 30rpx;
	color: #FFFEFE;
}

.common-form-label {
	font-size: 26rpx;
	color: #333333;
}

.placeholder-class{
	font-size: 24rpx;
	font-weight: 400;
	color: #999999;

}

.bg-color {
	background: rgb(241, 241, 241);
}


.fl {
	display: flex;	
	
}
.fl-dir-col {
	flex-direction: column;
}


.jc-between {
	justify-content: space-between;
}

.jc-around {
	justify-content: space-around;
}

.fl-warp{
	flex-wrap: wrap;
}
.fl-nowrap{
	flex-wrap: nowrap;
}
.jc-center{
	justify-content: center;
}

.al-center{
	align-items: center;
}

